{
	"extends": [
		"next/core-web-vitals",
		"plugin:jsx-a11y/recommended",
		"next/babel"
	],
	"plugins": ["jsx-a11y", "react", "react-hooks", "jsx-a11y", "prettier"],
	"rules": {
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx", ".tsx", ".ts"]
			}
		],
		"no-nested-ternary": 0,
		"import/no-dynamic-require": 0,
		"global-require": 0,
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"react/no-array-index-key": 0,
		"react/jsx-props-no-spreading": 0,
		"no-console": "off",
		"react/prop-types": 0,
		"prettier/prettier": 1,
		"jsx-a11y/no-onchange": 0,
		"no-restricted-globals": 0,
		"jsx-a11y/interactive-supports-focus": 0,
		"jsx-a11y/click-events-have-key-events": 0
	}
}
