@import '../../styles/colors';
.RecipeCard {
	align-items: center;
	margin-bottom: 1.5rem;
	background-color: $white;
	padding: 3rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	&.featured {
		background: $blue-bright;
	}
	&Image {
		flex-basis: 0 !important;
		img {
			max-width: 16rem;
			border-radius: 1rem;
		}
		&FeaturedTag {
			position: absolute;
			margin-left: 1rem;
			margin-top: 1rem;
		}
	}
	&Icon {
		display: flex;
		img {
			margin-right: 0.5rem;
		}
	}

	&Content {
		border-radius: 0 1rem 1rem 0;
		margin-left: 1rem;
		@media (max-width: 48rem) {
			margin-left: 0;
			padding: 1.5rem;
			border-radius: 0 0 1rem 1rem;
		}
		h3 {
			text-transform: capitalize;
		}
	}
	&Button {
		margin-top: 1rem;
	}
}
