$columns: (
	xs: 6,
	md: 12,
);

$breakpoints: (
	xs: 0,
	sm: 415px,
	md: 769px,
	lg: 1201px,
);

//spacing
$spacer: 1rem;
$q: $spacer * 0.25;
$h: $spacer * 0.5;
$spacers: (
	0: 0,
	q: $q,
	h: $h,
	hq: $h + $q,
	1: $spacer,
	1h: $spacer + $h,
	2: 2 * $spacer,
	2h: 2 * $spacer + $h,
	3: 3 * $spacer,
	-1: -$spacer,
	-2: -2 * $spacer,
	-3: -3 * $spacer,
);

$gutterWidthCols: (
	xs: $spacer + $h,
	md: $spacer + $h,
);

$extraGutters: (
	xs: $q 0.3125rem,
	md: 0,
);

$utilities: (
	'padding': (
		'breakpoints': xs sm md lg,
		'spacers': 0 h 1 1h 2 2h 3,
		'properties': (
			'p': padding,
			'pt': padding-top,
			'pb': padding-bottom,
			'pl': padding-left,
			'pr': padding-right,
			'px': padding-left padding-right,
			'py': padding-top padding-bottom,
		),
	),
	'margin': (
		'breakpoints': xs sm md lg,
		'spacers': 0 h 1 1h 2 2h 3,
		'properties': (
			'm': margin,
			'mt': margin-top,
			'mb': margin-bottom,
			'ml': margin-left,
			'mr': margin-right,
			'mx': margin-left margin-right,
			'my': margin-top margin-bottom,
		),
	),
	'negative-margin': (
		'breakpoints': xs sm md lg,
		'spacers': -1 -2 -3,
		'properties': (
			'nm': margin,
			'nmt': margin-top,
			'nmb': margin-bottom,
			'nml': margin-left,
			'nmr': margin-right,
			'nmx': margin-left margin-right,
			'nmy': margin-top margin-bottom,
		),
	),
);