@import './typography';
@import './colors';
@import './utilities';
@import './variables';
@import './spacing';
@import './layout';
html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	overflow-x: hidden;
}
a {
	color: $primary;
	font-weight: bold;
	text-decoration: none;
	transition: color ease-in-out 0.15s;
	&:hover {
		color: $primary-light;
	}
}
* {
	box-sizing: border-box;
}
hr {
	border: $primary-bright solid 0.0125rem;
	border-style: solid;
	margin: 2.5rem 0 1rem;
}
