.Home {
	&Container {
		max-width: 40rem;
		text-align: center;
		margin-top: 15vh;
		@media (max-width: 48rem) {
			margin-top: 5rem;
		}
	}
	&IngredientsList {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}
	&RecipeButton {
		margin: 2rem auto 0;
		display: block;
	}
}