@import '../../styles/colors';
.Footer {
	padding: 0.5rem 0;
	background-color: $primary-bright;
	align-items: center;
	&Copyright {
		@media (max-width: 48rem) {
			text-align: center;
		}
		p {
			font-size: 0.875rem;
			color: $primary;
			margin: 0;
		}
	}
	&Icon {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 1.25rem;
		}
	}
	&Madewith {
		text-align: right;
		@media (max-width: 48rem) {
			text-align: center;
		}
		p {
			font-size: 0.875rem;
			color: $primary;
			margin: 0;
		}
	}
}
