.Section {
	align-items: center;
	justify-content: center;
	padding: 4rem 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	@media (max-width: 48rem) {
		padding: 3rem 0;
	}
    .sectionTitle {
        text-align: center;
    }
	.section-description {
		max-width: 40rem;
		margin: 0 auto 3rem;
		line-height: 1.75;
	}
}