@import '../../styles/colors';
.Tag {
	border: none;
	background: $gray-light;
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	color: $primary;
	display: inline-flex;
	font-size: 0.875rem;
	& + .Tag {
		margin-left: 0.5rem;
	}
}
