@import '../../styles/colors';
.AddInput {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&TextField {
		border-radius: 0.5rem;
		line-height: 1.5rem;
		padding: 0.5rem 1.5rem;
		background: #fcf2f2;
		border: solid 1px $primary-light;
		color: $primary;
		width: 100%;
		font-size: 1rem;
	}
	&Button {
		background-color: $primary;
		border: none;
		border-radius: 0.5rem;
		line-height: 1.5rem;
		padding: 0.5rem 1.5rem;
		margin-left: -4rem;
		margin-right: 0.5rem;
		cursor: pointer;
		transition: background-color 0.15s ease-in-out;
		&:hover {
			background-color: $primary-light;
		}
		&::before {
			content: '';
			color: $white;
			width: 0.25rem;
			height: 1rem;
			background-color: $white;
			transform: rotate(0deg);
			display: block;
			transition: all 0.15s ease-in-out;
		}
		&::after {
			content: '';
			color: $white;
			width: 0.25rem;
			height: 1rem;
			background-color: $white;
			transform: rotate(90deg);
			display: block;
			transition: all 0.15s ease-in-out;
			margin-top: -0.95rem;
		}
	}
}
