@import '../../styles/colors';
.Checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	&:hover {
		.CheckboxBox {
			background-color: $primary-bright;
			border-color: $primary-light;
			&:after {
				content: '';
				left: 1rem;
				top: 1rem;
				width: 0.35rem;
				height: 0.85rem;
				border: solid $default-light;
				border-width: 0 0.25rem 0.25rem 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				display: block;
				margin: 0.25rem auto;
			}
			&:checked {
				background-color: $primary-light;
				border-color: $primary-light;
				&:after {
					content: '';
					left: 1rem;
					top: 1rem;
					width: 0.35rem;
					height: 0.85rem;
					border: solid $primary-bright;
					border-width: 0 0.25rem 0.25rem 0;
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
					display: block;
					margin: 0.25rem auto;
				}
			}
		}
	}
	&Box {
		min-width: 2rem;
		min-height: 2rem;
		background-color: $primary-bright;
		border-radius: 0.5rem;
		border: none;
		appearance: none;
		border: 1px $primary-light solid;
		transition: 0.15s ease-in-out;
		cursor: pointer;
		&:checked {
			background-color: $primary;
			border-color: $primary;
			&:after {
				content: '';
				left: 1rem;
				top: 1rem;
				width: 0.35rem;
				height: 0.85rem;
				border: solid $primary-bright;
				border-width: 0 0.25rem 0.25rem 0;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				display: block;
				margin: 0.25rem auto;
			}
		}
	}
	&Label {
		margin-left: 0.5rem;
		font-size: 1rem;
		line-height: 1rem;
		color: $primary;
	}
}
